.DS_Store
node_modules
/build
/dist
/.astro
/.svelte-kit
/.wrangler
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.cloudflare
result
dev_server.log
bun.lock
bun.lockb

# Sentry Config File
.env.sentry-build-plugin
