[env]
_.path = ["./node_modules/.bin"]

[tools]
bun = "1.3.10"

[hooks.postinstall]
script = "bun install"

[settings]
experimental = true

[tasks.lint]
run = "bun run lint"

[tasks.ci]
depends = ["lint"]
