name: Autorelease

on:
  push:
    branches:
      - master
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New tag version'
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  autorelease:
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      USERNAME: ${{ github.actor }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v2
        with:
          version: 2024.11.23

      - name: Login to registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ github.token }}

      - name: Install
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Check for changes
        id: git-check
        run: |
          git diff --exit-code || echo "changes=true" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: steps.git-check.outputs.changes == 'true' && github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          title: 'chore: update generated code'
          body: 'Automated changes by codegen task.'
          branch: 'codegen-update'
          base: '${{ github.head_ref || github.ref_name }}'

      - name: Stop if a pull request was created
        if: steps.cpr.outputs.pull-request-number != ''
        run: |
          echo "The update scripts changed something and a PR was created. Giving up deploy." >> $GITHUB_STEP_SUMMARY
          exit 1

      - name: CI
        env:
          GITHUB_TOKEN: ''
        run: mise run ci

      - name: Make release if everything looks right
        if: github.event_name != 'pull_request'
        env:
          NEW_VERSION: ${{ github.event.inputs.new_version }}
        run: |
          if [[ ! -z "$NEW_VERSION" ]]; then
            NO_TAG=1 ./make_release "$NEW_VERSION"
            echo "New version: $(cat version.txt)" >> $GITHUB_STEP_SUMMARY
            echo "RELEASE_VERSION=$(cat version.txt)" >> $GITHUB_ENV
          fi

      - name: Build container
        env:
          TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        run: |
          VERSION="$(cat version.txt)"
          docker build -t "$TAG:$VERSION" .

      - name: Create release
        if: github.event_name != 'pull_request' && env.RELEASE_VERSION != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ env.RELEASE_VERSION }}
          TITLE: Release ${{ env.RELEASE_VERSION }}
        run: |
          gh release create "$TAG" \
            --title "$TITLE" \
            --generate-notes \
            --notes-start-tag $(gh release list --limit 1 --json tagName -q .[].tagName)

      - name: Build and publish container
        if: github.event_name != 'pull_request' && env.RELEASE_VERSION != ''
        env:
          TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          VERSION: ${{ env.RELEASE_VERSION }}
        run: |
          docker tag "$TAG:$VERSION" "$TAG:latest"
          docker push "$TAG:$VERSION"
          docker push "$TAG:latest"
